@charset "utf-8";

/*========= スクロールダウンのためのCSS ===============*/
body{
    margin: 0;
    overflow: hidden scroll;
    /* 横スライドを消す */
}

/*=== 9-1-4 矢印が動いてスクロールを促す  ====*/

/*スクロールダウン全体の場所*/
.scrolldown4{
    /*描画位置※位置は適宜調整してください*/
  position:absolute;
  bottom:1%;
  right:50%;
    /*矢印の動き1秒かけて永遠にループ*/
  animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove{
      0%{bottom:1%;}
      50%{bottom:3%;}
     100%{bottom:1%;}
 }

/*Scrollテキストの描写*/
.scrolldown4 span{
    /*描画位置*/
  position: absolute;
  left:-20px;
  bottom:10px;
    /*テキストの形状*/
  color: rgb(161, 161, 161);
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    right: -6px;
    /*矢印の形状*/
    width: 1px;
    height: 20px;
    background: #eee;
    transform: skewX(-31deg);
}

.scrolldown4:after{
  content:"";
    /*描画位置*/
  position: absolute;
  bottom:0;
  right:0;
    /*矢印の形状*/
  width:1px;
  height: 50px;
  background:rgb(153, 153, 153);
}

/*========= レイアウトのためのCSS ===============*/

h1{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color:#eee;
  text-shadow: 0 0 15px #666;
  text-align: center;
  font-size: 100px;
 
}

h1 img{
  width: 50vmax;
}

#header{
  width:100%;
  height: 100vh;
  position: relative;
} 

#header:before{
  content: '';
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  height: 100vh;
  /*背景画像設定*/
  background:url("../img/447398.jpg") no-repeat center;
  background-size:cover;
}

main{
  position: relative;
  z-index:1;
  background:rgb(0, 0, 0);
  padding:60ex  0 0 0;
  text-align: center;
  
}

@media screen and (max-width:768px){

    #header,
    #header:before{
  height: 90vh;
    }
.item img{
  width: 20vh;
  
}
    
    
}


/*========= ナビゲーションのためのCSS ===============*/

/*アクティブになったエリア*/
#g-nav.panelactive{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
	top: 0;
	width:100%;
    height: 100vh;
}

/*丸の拡大*/
.circle-bg{
    position: fixed;
	z-index:3;
    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.827);
    /*丸のスタート位置と形状*/
	transform: scale(0);/*scaleをはじめは0に*/
    top:calc(50% - 50px);/*50%から円の半径を引いた値*/
    left:calc(50% - 50px);/*50%から円の半径を引いた値*/
    transition: all .6s;/*0.6秒かけてアニメーション*/
}

.circle-bg.circleactive{
	transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}

/*ナビゲーションの縦スクロール*/
#g-nav-list{
    display: none;/*はじめは表示なし*/
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list{
     display: block; /*クラスが付与されたら出現*/
}

/*ナビゲーション*/
#g-nav ul {
	opacity: 0;/*はじめは透過0*/
    /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*背景が出現後にナビゲーションを表示*/
#g-nav.panelactive ul {
    opacity:1;
}

/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
#g-nav.panelactive ul li{
animation-name:gnaviAnime;
animation-duration:1s;
animation-delay:.2s;/*0.2 秒遅らせて出現*/
animation-fill-mode:forwards;
opacity:0;
}
@keyframes gnaviAnime{
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}

/*リストのレイアウト設定*/
#g-nav li{
	text-align: center; 
	list-style: none;
}

#g-nav li a{
	color: rgb(255, 255, 255);
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
}


/*========= ボタンのためのCSS ===============*/
.openbtn{
	position:fixed;
	top:10px;
	right: 10px;
	z-index: 9999;/*ボタンを最前面に*/
	cursor: pointer;
    width: 50px;
    height:50px;
}
	
/*×に変化*/	
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color: rgb(255, 255, 255);
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}


h2{
  color: #fff;
  font-size: min(4vw,2em);
}

.a-1{
 justify-content: center;
 display: flex;
 gap: 2em;
}

[class^=b-]{
  width: 15em;
  height:22em;
  background-color: rgb(62, 62, 62);
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  border: solid 3px #444444;
  box-shadow: rgba(199, 240, 254, 0.471) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


#area-1{
  height: 50em;
}

  
  *{margin:0;padding:0}
  
  .magic-square{
    box-sizing:border-box;
    position:relative;
    max-width:500px;
    width:500em;
  
    border:1px solid #29B6F6;
    border-radius:50%;
    box-shadow:0 0 15px 2px #29B6F6, 0 0 3px 0 #29B6F6 inset;
    transform:perspective(400px) rotateX(60deg);
    transition:all 0.3s;overflow:hidden;
    margin: auto;
    margin-top: -18em;
    z-index: -99;
    
  }


    .magic-square:hover{
      box-shadow:0 0 30px 10px #B3E5FC, 0 0 3px 0 #B3E5FC inset
    }
    
    .magic-square:hover .magic-square-content::before,.magic-square:hover .magic-square-content::after{
      border:1px solid #E1F5FE;
      box-shadow:0 0 2px 1px #E1F5FE, 0 0 2px 1px #E1F5FE inset
    }
    
    .magic-square:hover .magic-square-content__inner::before,.magic-square:hover .magic-square-content__inner::after{
      border:1px solid #E1F5FE;box-shadow:0 0 6px 4px #E1F5FE, 0 0 3px 1px #E1F5FE inset
    }
    
    .magic-square:hover .magic-square-content .magic-square-content__txt--top,.magic-square:hover .magic-square-content .magic-square-content__txt--top-right,.magic-square:hover .magic-square-content .magic-square-content__txt--right,.magic-square:hover .magic-square-content .magic-square-content__txt--bottom-right,.magic-square:hover .magic-square-content .magic-square-content__txt--bottom,.magic-square:hover .magic-square-content .magic-square-content__txt--bottom-left,.magic-square:hover .magic-square-content .magic-square-content__txt--left,.magic-square:hover .magic-square-content .magic-square-content__txt--top-left{color:#E1F5FE}.magic-square .magic-square-content{padding-top:100%;animation:magicSquare 10s linear infinite}@keyframes magicSquare{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}.magic-square .magic-square-content::before,.magic-square .magic-square-content::after{display:block;content:"";transition:all 0.3s 1.7s;box-sizing:border-box;position:absolute;top:50%;left:50%;border:1px solid #29B6F6;border-radius:50%}.magic-square .magic-square-content::before{width:80%;margin-top:-40%;margin-left:-40%;padding-top:80%}.magic-square .magic-square-content::after{width:74%;margin-top:-37%;margin-left:-37%;padding-top:74%}.magic-square .magic-square-content__inner{position:absolute;top:0;left:0;width:100%;height:100%}.magic-square .magic-square-content__inner::before,.magic-square .magic-square-content__inner::after{box-sizing:border-box;position:absolute;left:25%;top:25%;width:50%;height:50%;border:1px solid #29B6F6;box-shadow:0 0 3px 0 #29B6F6, 0 0 1px 0 #29B6F6 inset;transition:all 0.6s 2s;content:""}.magic-square .magic-square-content__inner::after{transform:rotate(45deg)}.magic-square .magic-square-content .magic-square-content__txt--top,.magic-square .magic-square-content .magic-square-content__txt--top-right,.magic-square .magic-square-content .magic-square-content__txt--right,.magic-square .magic-square-content .magic-square-content__txt--bottom-right,.magic-square .magic-square-content .magic-square-content__txt--bottom,.magic-square .magic-square-content .magic-square-content__txt--bottom-left,.magic-square .magic-square-content .magic-square-content__txt--left,.magic-square .magic-square-content .magic-square-content__txt--top-left{position:absolute;color:#29B6F6;font-size:14px;font-weight:bold}.magic-square .magic-square-content .magic-square-content__txt--top::before,.magic-square .magic-square-content .magic-square-content__txt--top-right::before,.magic-square .magic-square-content .magic-square-content__txt--right::before,.magic-square .magic-square-content .magic-square-content__txt--bottom-right::before,.magic-square .magic-square-content .magic-square-content__txt--bottom::before,.magic-square .magic-square-content .magic-square-content__txt--bottom-left::before,.magic-square .magic-square-content .magic-square-content__txt--left::before,.magic-square .magic-square-content .magic-square-content__txt--top-left::before,.magic-square .magic-square-content .magic-square-content__txt--top::after,.magic-square .magic-square-content .magic-square-content__txt--top-right::after,.magic-square .magic-square-content .magic-square-content__txt--right::after,.magic-square .magic-square-content .magic-square-content__txt--bottom-right::after,.magic-square .magic-square-content .magic-square-content__txt--bottom::after,.magic-square .magic-square-content .magic-square-content__txt--bottom-left::after,.magic-square .magic-square-content .magic-square-content__txt--left::after,.magic-square .magic-square-content .magic-square-content__txt--top-left::after{position:absolute;top:0;left:0}.magic-square .magic-square-content .magic-square-content__txt--top::before,.magic-square .magic-square-content .magic-square-content__txt--top-right::before,.magic-square .magic-square-content .magic-square-content__txt--right::before,.magic-square .magic-square-content .magic-square-content__txt--bottom-right::before,.magic-square .magic-square-content .magic-square-content__txt--bottom::before,.magic-square .magic-square-content .magic-square-content__txt--bottom-left::before,.magic-square .magic-square-content .magic-square-content__txt--left::before,.magic-square .magic-square-content .magic-square-content__txt--top-left::before{content:"ホ"}.magic-square .magic-square-content .magic-square-content__txt--top::after,.magic-square .magic-square-content .magic-square-content__txt--top-right::after,.magic-square .magic-square-content .magic-square-content__txt--right::after,.magic-square .magic-square-content .magic-square-content__txt--bottom-right::after,.magic-square .magic-square-content .magic-square-content__txt--bottom::after,.magic-square .magic-square-content .magic-square-content__txt--bottom-left::after,.magic-square .magic-square-content .magic-square-content__txt--left::after,.magic-square .magic-square-content .magic-square-content__txt--top-left::after{
      content:"ノ"
    }
    .magic-square .magic-square-content__txt--top{
      top:0;
      left:50%;
      transform:translateX(-50%);
      transition:all 0.2s 0.3s;
    }
    .magic-square .magic-square-content__txt--top-right{
      top:12.5%;
      right:15%;
      transition:all 0.2s 0.5s}
      .magic-square .magic-square-content__txt--right{
        top:50%;
        right:1.5%;
        transform:translateY(-50%);
        transition:all 0.3s 0.7s
      }
      .magic-square .magic-square-content__txt--bottom-right{
        right:15%;
        bottom:12.5%;
        transition:all 0.3s 0.9s}
        .magic-square .magic-square-content__txt--bottom{
          bottom:0;
          left:50%;
          transform:translateX(-50%);
          transition:all 0.3s 1.1s}
          .magic-square .magic-square-content__txt--bottom-left{
            bottom:12.5%;
            left:15%;
            transition:all 0.3s 1.3s}
            .magic-square .magic-square-content__txt--left{
              top:50%;
              left:1.5%;
              transform:translateY(-50%);
              transition:all 0.3s 1.5s}
              .magic-square .magic-square-content__txt--top-left{
                top:12.5%;
                left:15%;
                transition:all 0.3s 1.7s}




                [class^=block-] {
                  display: flex;
                  flex-direction: row;
                  height: 27.3333333333vh;
                  gap: 5em 5em;
                  margin-bottom: 7em;
                  justify-content: center;
                  }

                  @media (max-width: 480px) {
                  [class^=block-] {
                    flex-direction: column;
                    height: 500px;
                  }
                  }
                  
                  [class^=box] {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 15em;
                  height: 15em;
                  box-shadow: rgba(60, 123, 182, 0.16) 0px 1px 4px;
                  }    
       
                  .box img{
                    width: 13vmax;
                  }
                
                  .html{
                    overflow-x: hidden;
                     overflow-y: scroll;
                    }


                  .card img{
                    width: 10vmax;
                  }
                  .card3 img{
                    width: 9.5vmax;
                  }

                  

                  .card1 img{
                    width: 7vmax;
                    margin-right: 1em;
                    margin-top: 1em;
                  }

                  hr {
                    border-width: 4px 0px 0px 0px; /* 太さ */
                    border-style: solid; /* 線種 */
                    border-color: rgb(29, 29, 29);   /* 線色 */
                    height: 1px;         /* 高さ(※古いIE用) */
                 }

                 .text{
                   font-size: min(3vw,1em);
                   margin: 0.5em;
                   margin-top: 2em;
                 }
                 

                 .border-radius {
                  width: 18em;
                 height: 18em;
          
                  background-color: rgb(182, 180, 50);
                  border-radius: 50%;
                  color: #fff;
                  text-align: center;
              
                }

                /* 横からフェイドする */
                div.animation_box {
                  padding: 10px;
                  animation: fadeIn 5s ease 1s 1 normal backwards;
                }
                p{
                  color: #fff;
                }
                 
                @keyframes fadeIn {
                  from {
                    opacity: 0;
                    transform: translateX(-20px);
                  }
                  to {
                    opacity: 1;
                    transform: translateX(0);
                  }
                }

                small{
                  background-color: #999;
                }

                

                h3{
                  padding: 1rem 2rem;
                  border: 3px solid rgb(195, 190, 190);
                  text-align: center;
                  width: 10em;
                  margin:auto;
                  color: crimson;
                  margin-bottom: 5em;
                }

                
                .card-2 {
                  position: relative;
                  width: 15em;
                  margin: 0 auto;
                  cursor: pointer;
                  border: 0.5px solid #e9eaea;
                  border-radius: 3px;
                  transition: 0.3s;
        
                }
                
                .card-2::after {
                  position: absolute;
                  top: 0;
                  left: 0;
                  padding: 0.2em 0.8em;
                  font-size: 0.8rem;
                  color: #fff;
                  content: 'NEW';
                  background: #2f1e50;
                }
                
                .card-2:hover {
                  opacity: 0.6;
                }
                
                .content-img {
                  padding: 0.2em 0;
                  text-align: center;
                  background: #070707;
                }
                
                .content-1,
                .content-2 {
                  position: relative;
                  padding: 0.6em 0.3em;
                  margin: 0;
                  font-size: 0.6em;
                }
                
                .content-2 {
                  font-size: 0.7em;
                }
                
                .content-2::after {
                  position: absolute;
                  top: 0;
                  left: 0.4em;
                  width: 15px;
                  height: 1.5px;
                  content: '';
                  background: #666;
                }

                
                
                .card-1 {
                  width: 15em;
                  margin: 0 auto;
                  cursor: pointer;
                  border: 0.5px solid #e9eaea;
                  border-radius: 3px;
                  transition: 0.3s;
                }
                
                .card-1:hover {
                  opacity: 0.6;
                }
                
                .content-img {
                  padding: 0.2em 0;
                  text-align: center;
                  background: #000000;
                }
                
                .content-1,
                .content-2 {
                  position: relative;
                  padding: 0.6em 0.3em;
                  margin: 0;
                  font-size: 0.6em;
                }
                
                .content-2 {
                  font-size: 0.7em;
                }
                
                .content-2::after {
                  position: absolute;
                  top: 0;
                  left: 0.4em;
                  width: 15px;
                  height: 1.5px;
                  content: '';
                  background: #666;
                }

                h4{ 
                 margin-bottom: 3em;
                  color: rgb(141, 28, 28);
                }

                #area-3{
                  height: 55em;
                  margin-bottom: 2em;
                }

                #area-5{
                  height: 50em;
                  margin-bottom: 2em;
                }

                #area-5{
                  height: 50em;
                  margin-bottom: 2em;
                }

                #area-6{
                  height: 35em;
                  background-color: #565656;
                }

small{
  height: 10em;
}

               footer{
                 color: #fff;
                 background-color: #382460;
                 
               }

a{
  text-decoration: none;
}
               
                